body { cursor: default; margin: 0px; }
input[type="button"] { cursor: hand; }
a:link, a:visited {color: #509b00; text-decoration: none;}	
a:hover, a:focus {color: #509b00; text-decoration: underline;}	

#headerBackground {position: relative; background: #00355f; height: 45px;}
#headerLogo { float: left; margin: 8px 0px 0px 20px; background-image: url('qrc:/html/images/topLogo.png'); z-index: 20; width: 92px; height: 28px; }

#readerSelectDiv { position: absolute; right: 100px; top: 10px; }
#headerSelectDiv { position: absolute; right: 5px; top: 10px; }
#readerSelect, #headerSelect { background: #00355f; border: 0px; -webkit-text-fill-color: #FFFFFF; font-family: "Arial, Liberation Sans"; font-size: 12px; }
#readerSelect:focus, #readerSelect:hover, #headerSelect:focus, #headerSelect:hover { text-decoration: underline; }

#headerMenus { position: absolute; right: 100px; top: 14px; color: #afc6d1; font-family: "Arial, Liberation Sans"; font-size: 12px; }
#headerMenus ul { display: inline; }
#headerMenus ul li { list-style: none; padding: 0px 5px 0px 10px; margin: 0px; display: inline; border-left: 1px solid #325e80; font-weight: bold; }
#headerMenus ul li:first-child { border-left: none; padding-left: 0px;}
#headerMenus a:link, #headerMenus a:visited {color: #afc6d1;text-decoration: none;}
#headerMenus a:hover, #headerMenus a:focus {color: #afc6d1; text-decoration: underline;}

#topBackground {position: relative; background: #c6ddfa; height: 200px; z-index: -10;}

#linegray {position: absolute; top:145px; width:585; height:165px; background-image: url('qrc:/html/images/linegray.png'); z-index: -1;}

#logo {position: absolute; top:65px; left:45px; width:90px; height:84px; background-image: url('qrc:/html/images/logo.png');}
#logotext {position: absolute; top:72px; left:155px; width:176px; height:35px; background-image: url('qrc:/html/images/logotext.png'); background-repeat: no-repeat;}

#leftMenus { position: absolute; top:155px; left: 5px; width:146; z-index: 1; }
#leftMenus ul {list-style: none; text-indent:-1.7em; line-height: 31px; }
.buttonSelected, .button { width: 146px; height: 25px; text-align: left; -webkit-border-radius: 3px; font-family: "Arial, Liberation Sans"; font-weight: bold; font-size: 14px; }
.buttonSelected, .button:hover, .buttonBottom:hover , .button:focus, .buttonBottom:focus 
	{ background-image: url('qrc:/html/images/buttonSelected.png'); border: 1px solid #ce911b; color: #00355f;}

.button { background-image: url('qrc:/html/images/button.png'); border: 1px solid #1a4b79; color: #ffffff;}

#personalInfo { position: absolute; top:81px; left:180px; width:385; height:138px;
				background-color: rgba(255,255,255,0.7); border: 1px solid #cddbeb; z-index: 1;-webkit-border-radius: 5px;
				color: #668696; font-weight: bold; font-family: "Arial, Liberation Sans"; font-size: 12px; line-height: 18px;}
#personalInfo ul {list-style: none; text-indent:-2.1em; margin-top: 5px; width:240; word-wrap: break-word; }

#smobileContent ul {list-style: none; text-indent:-2.1em; margin-top: 5px; width:500px; word-wrap: break-word; }
#smobileContent {color: #355670; font-family: "Arial, Liberation Sans"; font-size: 12px;}

#photo {position: absolute; top:90px; left:467px; width:90px; height:120px; border: 1px solid black; z-index:1; background: #FFFFFF; text-align: center;}
#photo a { font-size: 14px; }

#savePhoto {position: absolute; top:194px; left:468px; width: 90px; height:16px; border-top: 1px solid black; z-index:2; background: rgba(255,255,255,0.8); text-align: center; display: none;}

.cardInfo { position: absolute; top:226px; left:180px; width:385; height:72px;
			background-color: rgba(255,255,255,0.7); border: 1px solid #cddbeb; z-index: 1;-webkit-border-radius: 5px;
			color: #54859b; font-weight: bold; font-family: "Arial, Liberation Sans"; font-size: 16px;}
.cardInfo ul {list-style: none; text-indent:-1.7em; margin-top: 7px;}
.noCard { padding-top:5px; font-size:18px; font-weight: bold; color:#ec2b2b; }
.pukBlocked { padding-top:5px; font-size:16px; font-weight: bold; color:#ec2b2b; }

.content {position: relative; top: 70px; padding-left: 35px; padding-right: 35px;}
.contentHeader {color: #54859b; font-family: "Arial, Liberation Sans"; font-weight: bold; font-size: 16px; }
.content p {color: #355670; font-family: "Arial, Liberation Sans"; font-size: 12px;}
.statusValid {color: #509b00; font-weight: bold;}
.statusBlocked, .certBlocked {color: #e80303; font-weight: bold; }
.certValid {font-weight: bold;}

.leftContent {position: absolute; left: 40px; width: 240px; height: 180px; border-right: 1px solid #dfdfdf; margin-top: 10px; padding-right: 10px; }
.buttonSelectedBottom, .buttonBottom { height: 23px; -webkit-border-radius: 3px; font-family: "Arial, Liberation Sans"; font-size: 12px; margin-left: 0px;}
.buttonSelectedBottom { background-image: url('qrc:/html/images/buttonSelected.png'); border: 1px solid #ce911b; color: #00355f;}
.buttonBottom { background-image: url('qrc:/html/images/button.png'); border: 1px solid #1a4b79; color: #ffffff;}

.rightContent {position: absolute; left: 290px; width: 245px; margin-top: 10px; height: 180px; padding-left: 30px;}
#signBottomButtons, #authBottomButtons { position: absolute; bottom:0px; left: 0px; height: 30px; width:250; z-index: 1; }
#signUpdateDiv, #authUpdateDiv { position: absolute; bottom:30px; left: 0px; height: 25px; width:250; z-index: 1; }

.keyBlocked { position: absolute; bottom: 35px; width: 220px; padding: 5px;
	font-family: "Arial, Liberation Sans"; font-size: 12px; font-weight: bold; color: #e80303; border: 1px solid #e80303; -webkit-border-radius: 5px; }
				
label	 {color: #355670; font-weight: bold;}

#statusBar { position: absolute; left: 10px; bottom:5px; width: 500px; height: 20px; }

#firstName, #middleName, #surName, #department, #id, #birthDate, #birthPlace, #citizen, #email { color: #355670; }
