before_install:
- if [ "${TRAVIS_OS_NAME}" = "osx" ]; then
    brew update;
    brew install qt5;
  else
    sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test;
    sudo add-apt-repository -y ppa:beineri/opt-qt521;
    sudo apt-get update -qq;
    sudo apt-get install -y gcc-4.8 g++-4.8 qt52base qt52tools libpcsclite-dev libssl-dev libc6-i386;
    sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90;
    source /opt/qt52/bin/qt52-env.sh;
    wget http://www.cmake.org/files/v3.0/cmake-3.0.2-Linux-i386.tar.gz;
    tar -xzf cmake-3.0.2-Linux-i386.tar.gz;
    sudo cp -fR cmake-3.0.2-Linux-i386/* /usr;
  fi
script:
- mkdir build
- cd build
- cmake -DBREAKPAD="" ..
- make

os:
 - linux
 - osx

env:
  global:
   - secure: "bnnkOxt19gRV75WPsOYjT33wALBe/L1quzMZD8+SY6tM+H7TAZY4490pESEBN+KkrBRhUa8ro2AutVYR4GpVxwOQdXC9KdFnFCqLHsCIhZaBf9H1a/+/gL1bNMiK16XJ6Doz8RidO/m7e0OobulfbbLnBSpgJUwiFkavoO2cfJo="

addons:
  coverity_scan:
    project:
      name: "open-eid/qesteidutil"
      description: "Build submitted via Travis CI"
    notification_email: raul@metsma.ee
    build_command_prepend: "mkdir coverity; cd coverity; cmake -DBREAKPAD='' .."
    build_command: make
    branch_pattern: coverity_scan
