<?xml version="1.0" encoding="utf-8"?>

<?ifndef Platform ?>
<?define Platform="x86" ?>
<?endif ?>

<?if $(var.Platform) = x64 ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<?if $(env.VisualStudioVersion) = "14.0" ?>
  <?define VCVER = "140" ?>
  <?define VCRT = "vcruntime" ?>
<?else?>
  <?define VCVER = "120" ?>
  <?define VCRT = "msvcr" ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="ID-card utility" UpgradeCode="03f1549b-cab2-4029-a7d4-0806d706f870"
      Id="*" Language="1033" Version="$(var.MSI_VERSION)" Codepage="1251" Manufacturer="RIA">
    <Package Platform="$(var.Platform)" Keywords="Installer" InstallerVersion="405" Compressed="yes" InstallScope="perMachine"/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
    <Icon Id="qesteidutil.exe" SourceFile="$(var.utility_path)"/>
    <Property Id="ARPPRODUCTICON" Value="qesteidutil.exe"/>
    <Property Id="DESKTOP_SHORTCUT" Value="0"/>
    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" DowngradeErrorMessage=
      "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first."/>
    <Condition Message="[ProductName] requires Windows 7 or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>
    <UIRef Id="WixUI_Minimal2" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program Menu shortcut -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="!(loc.idcardLabel)">
          <Component Id="ProgramMenuDir" Guid="ba207b68-d0d0-410d-9554-b3df2c586e72">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root='HKMU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <!-- Desktop shortcut -->
      <Directory Id="DesktopFolder">
        <Component Id="DesktopShortcut" Guid="25ccb772-82f7-4566-b4b2-73d38ab54074" Transitive="yes">
          <Condition>DESKTOP_SHORTCUT = 1</Condition>
          <Shortcut Id="UtilityDesktopShortcut" Name="!(loc.qesteidutilLabel)"
                    Target="[!qesteidutil.exe]" WorkingDirectory="APPLICATIONFOLDER"/>
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="DesktopShortcut" Value="1" Type="integer" KeyPath="yes"/>
        </Component>
      </Directory>

      <Directory Id='$(var.PlatformProgramFilesFolder)'>
        <Directory Id="APPLICATIONFOLDER" Name="ID-card utility">
          <Component Id="Application" Guid="0e8b0569-61e3-46c5-9a00-144f121964cc">
            <File Id="qesteidutil.exe" Source="$(var.utility_path)" KeyPath='yes'>
              <Shortcut Id="StartMenu" Advertise="yes" Name="!(loc.qesteidutilLabel)" Icon="qesteidutil.exe"
                Directory="ProgramMenuDir" WorkingDirectory="APPLICATIONFOLDER"/>
            </File>
<?ifdef var.qt_path ?>
            <File Source="$(env.VCINSTALLDIR)\redist\$(var.Platform)\Microsoft.VC$(var.VCVER).CRT\msvcp$(var.VCVER).dll"/>
            <File Source="$(env.VCINSTALLDIR)\redist\$(var.Platform)\Microsoft.VC$(var.VCVER).CRT\$(var.VCRT)$(var.VCVER).dll"/>
            <File Source="$(var.libs_path)\libeay32.dll"/>
            <File Source="$(var.libs_path)\ssleay32.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5Core.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5Gui.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5Network.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5PrintSupport.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5Widgets.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5WinExtras.dll"/>
            <File Source="$(var.qt_path)\bin\libEGL.dll"/>
            <File Source="$(var.qt_path)\bin\libGLESv2.dll"/>
            <File Source="$(var.qt_path)\bin\D3DCompiler_47.dll"/>
            <File Source="$(var.qt_path)\bin\opengl32sw.dll" />
            <File Source="$(var.qtconf)" />
<?endif?>
          </Component>
<?ifdef var.qt_path ?>
          <Directory Id="platforms" Name="platforms" FileSource="$(var.qt_path)\plugins\platforms">
            <Component Id="qwindows.dll">
              <File Name="qwindows.dll"/>
            </Component>
          </Directory>
          <Directory Id="printsupport" Name="printsupport" FileSource="$(var.qt_path)\plugins\printsupport">
            <Component Id="windowsprintersupport.dll">
              <File Name="windowsprintersupport.dll"/>
            </Component>
          </Directory>
          <Directory Id="imageformats" Name="imageformats" FileSource="$(var.qt_path)\plugins\imageformats">
            <Component Id="qjpeg.dll">
              <File Name="qjpeg.dll"/>
            </Component>
          </Directory>
<?endif?>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Install" Level="1" Title="ID-card utility" Display="expand" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentRef Id="ProgramMenuDir" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="Application" />
<?ifdef var.qt_path ?>
      <ComponentRef Id="qwindows.dll" />
      <ComponentRef Id="windowsprintersupport.dll" />
      <ComponentRef Id="qjpeg.dll" />
<?endif?>
    </Feature>
  </Product>
</Wix>
