Source: qesteidutil
Section: utils
Priority: extra
Maintainer: RIA <info@ria.ee>
Build-Depends:
 cdbs,
 cmake,
 libpcsclite-dev,
 libssl-dev,
 qttools5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/open-eid/qesteidutil

Package: qesteidutil
Architecture: any
Depends:
 fonts-liberation,
 pcscd,
 ${misc:Depends},
 ${shlibs:Depends}
Description: Estonian ID card management desktop utility
 ID-card utility allows you check the ID-card operation and the validity of the
 certificates, change as well as unblock locked PIN codes and change the PUK
 code. In addition, the utility enables you to renew the certificates, create
 and configure @eesti.ee email address.
